.title1-bold {
  font-size: var(--font-1);
  font-weight: 600;
  color: var(--color-grey-1);
}
body.dark .title1-bold {
 color: var(--color-grey-8);
}

.title2-bold {
  font-size: var(--font-2);
  font-weight: 600;
  color: var(--color-grey-1);
}
body.dark .title2-bold {
  color: var(--color-grey-4);
}

.title3-bold {
  font-size: var(--font-3);
  font-weight: 600;
  color: var(--color-grey-1);
}

.text1-bold {
  font-size: var(--font-2);
  font-weight: 600;
  color: var(--color-grey-1);
}
body.dark .text1-bold {
 color: var(--color-grey-8);
}

.text1-medium {
  font-size: var(--font-2);
  font-weight: 500;
  color: var(--color-grey-1);
}

.text2-bold {
  font-size: var(--font-3);
  font-weight: 600;
  color: var(--color-grey-1);
}
body.dark .text2-bold {
 color: var(--color-grey-8);
}

.text2-medium {
  font-size: var(--font-3);
  font-weight: 500;
  color: var(--color-grey-2);
}

.text2-regular {
  font-size: var(--font-3);
  font-weight: 400;
  color: var(--color-grey-1);
}

.text3-medium {
  font-size: var(--font-4);
  font-weight: 600;
  color: var(--color-grey-2);
}

body.dark .text3-medium {
 color: var(--color-grey-3);
}
